--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
celery
redis

sentence-transformers
python-dotenv
email-validator
pypdf
openai
cachetools
requests
google-auth
pinecone