

fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
pydantic
pydantic-settings
python-jose[cryptography]

passlib==1.7.4
bcrypt==4.3.0

python-multipart
celery
redis


python-dotenv
email-validator
pypdf
openai
cachetools
requests
google-auth
pinecone
